<aside>
	<div class="panel radius">
		<h3>Blogroll</h3>
		<p class="text-left">
		<ul>
		<li><a href="http://flickr.com/photos/dramor">Photoblog!</a></li>
		<li><a href="http://planeta.es.gnome.org/">Planeta Gnome Hispano</a></li>
		<li><a href="http://barrapunto.com">Barrapunto</a></li>
		<li><a href="http://twitter.com/dramor">/me at twitter</a></li>
		<li><a href="http://tinyurl.com/dramor-gplus">/me at googleplus</a></li>
		</ul>
		</p>
	</div>

<!--
<img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">
-->


	<div class="border-dotted radius b30">
		<p class="text-center">
			<a href="http://creativecommons.org/licenses/by-sa/3.0/">Todos los textos bajo licencia Creative Commons</a>
		</p>
		<p class="text-center">
		<img src="{{ site.url }}/images/cc-somerights.png" alt="CC-Somerightsreserved">
		</p>
	</div>
</aside>
